{% extends 'base.html' %}

{% block content %}
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navibar">
        <div class="max-width">
            <div class="logo"><a href="#">SBS<span>YB</span></a></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#profiles" class="menu-btn">Profiles</a></li>
                <li><a href="#ss" class="menu-btn">Succes Stories</a></li>
                <li><a href="#login" class="menu-btn">Register</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>


    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div style="color: rgb(255, 187, 0);" class="text-1">SREE SUNDERASWARA</div>
                <div class="text-2">MATRIMONY</div>
                <div class="text-3">Choose your <span style="color: rgb(255, 187, 0);">better </span> <span
                        class="typing"></span></div>
                <a href="#login">REGISTER</a>
            </div>
        </div>
    </section>

    {% with form=form %}
        {% include 'login.html' %}
    {% endwith %}
    <section id="profiles" class="profiles section-bg">
        <div class="container">

            <div class="section-title">
                <h2>profiles</h2>
                <div class="underline"></div>
                <p>2000+ Verified Profies</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="pros d-flex align-items-start">
                        <div class="profilespic"><img src="/static/css/img/1696135658227.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="pros-info">
                            <h4>123456</h4>
                            <span>Vaishnav KP</span>

                            <p>caste, religion, Address</p>
                            <div class="social">

                                <a href="#login"> <i class="bi bi-whatsapp"></i> </a>
                                <a href="#login"> <i class="bi bi-eye"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="pros d-flex align-items-start">
                        <div class="profilespic"><img src="/static/css/img/1696135658227.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="pros-info">
                            <h4>123456</h4>
                            <span>Vaishnav KP</span>

                            <p>caste, religion, Address</p>
                            <div class="social">

                                <a href="#login"> <i class="bi bi-whatsapp"></i> </a>
                                <a href="#login"> <i class="bi bi-eye"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="pros d-flex align-items-start">
                        <div class="profilespic"><img src="/static/css/img/1696135658227.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="pros-info">
                            <h4>123456</h4>
                            <span>Vaishnav KP</span>

                            <p>caste, religion, Address</p>
                            <div class="social">

                                <a href="#login"> <i class="bi bi-whatsapp"></i> </a>
                                <a href="#login"> <i class="bi bi-eye"></i> </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 mt-4">
                    <div class="pros d-flex align-items-start">
                        <div class="profilespic"><img src="/static/css/img/1696135658227.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="pros-info">
                            <h4>123456</h4>
                            <span>Vaishnav KP</span>

                            <p>caste, religion, Address</p>
                            <div class="social">

                                <a href="#login"> <i class="bi bi-whatsapp"></i> </a>
                                <a href="#login"> <i class="bi bi-eye"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </section>
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About US</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="/static/css/img/1696088742253.jpg" alt="">
                </div>
                <div class="column right">
                    <div class="text">SREE SUNDERASWARA TEMPLE </div>
                    <p>Sree Sundareswara Temple is one of two prominent temples consecrated by Sree Narayana Guru Devan
                        in Kannur District, the other being Sree Jagannaatha Temple, Thalassery. The temple is located
                        in suburban Talap in the Kannur district of Kerala, India, approximately 2 km away from Kannur
                        Railway Station,[1] and 3 km from Kannur New Bus Stand, Thavakkara.[2] The temple has Shiva, in
                        the form of Sundareswara, as its main deity.[3]</p>
                    <a href="#">Know More</a>
                </div>

            </div>
        </div>
    </section>
    <section class="sng" id="sng">
        <div class="max-width">
            <h2 class="title">Sree Narayana Guru</h2>
            <div class="carousel carousel">
                <div class="card">
                    <div class="box">
                        <img src="static\css\img\1696131996097.jpg" alt="">
                        <div class="text">"one caste one religion and one god for all men"</div>
                        <!-- <p>sbvhsdhvksvjsdjkvsjkdvjsdvsbkvbksbvkbsdvbksbvksbvkshbvs</p> -->
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="body2" id="ss">
        <div class="container">
            <div class="max-width">
                <h2 class="title">Succes Stories</h2>
                <div class="serv-content">

                    <div class="slider-wrapper">
                        <button id="prev-slide" class="slide-button material-symbols-rounded">

                        </button>
                        <ul class="image-list">
                            <img class="image-item" src="/static/css/img/1696085793452.jpg" alt="img-1" />
                            <img class="image-item" src="/static/css/img/1696085793452.jpg" alt="img-2" />
                            <img class="image-item" src="/static/css/img/1696085793452.jpg" alt="img-3" />
                            <img class="image-item" src="/static/css/img/1696085793452.jpg" alt="img-4" />
                            <img class="image-item" src="/static/css/img/1696085793452.jpg" alt="img-5" />
                            <img class="image-item" src="/static/css/img/1696085793452.jpg" alt="img-6" />

                        </ul>
                        <button id="next-slide" class="slide-button material-symbols-rounded">
                            >
                        </button>
                    </div>
                    <div class="slider-scrollbar">
                        <div class="scrollbar-track">
                            <div class="scrollbar-thumb"></div>
                        </div>
                    </div>

                </div>
            </div>
    </section>

    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">SBSYT</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-user"></i>
                        <div class="text">VERIFIED PROFILES</div>
                        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p> -->
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-key"></i>
                        <div class="text">100% PRIVACY</div>
                        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p> -->
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-heart"></i>
                        <div class="text">BEST MATCHES</div>
                        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p> -->
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>






    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contact US</h2>
            <div class="contact-content">
                <div class="column right">
                    <div class="text">Customer Care</div>
                    <form action="#">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" placeholder="Name" required>
                            </div>
                            <div class="field email">
                                <input type="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Subject" required>
                        </div>
                        <div class="field textarea">
                            <textarea cols="30" rows="10" placeholder="Message.." required></textarea>
                        </div>
                        <div class="button-area">
                            <button type="submit">Send message</button>
                        </div>
                    </form>
                </div>
                <div class="column left">
                    <div class="text">Sree Sundareswara Matrimony</div>
                    <p>Welcome to <span style="color: #ffd000;">Sundareswara Matrimony</span> , your trusted companion
                        on the journey to find true love and lifelong companionship.At <span
                            style="color: #ffd000;">Sundareswara Matrimony</span>, we understand that marriage is one of
                        life's most significant decisions. That's why we've created a platform dedicated to helping you
                        discover your ideal life partner. Our mission is to bring hearts together, fostering meaningful
                        connections and lasting relationships.</p>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-phone"></i>
                            <div class="info">
                                <div class="head">Contact</div>
                                <div class="sub-title">1234564869655</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Address</div>
                                <div class="sub-title">Talap, Kannur</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">Email</div>
                                <div class="sub-title">SBSYT@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <span>Designed by <a href=""><span class="far fa-copyright"></span>Vishak KR</a> | </span>
    </footer>

    <script src="{{url_for('static',filename='script.js')}}"></script>
{% endblock %}